  body
  {
      text-align: center;
  }

  #family_member_image
  {
      height: 400px;
      width: 300px;
      border-radius: 28px;
      border: 10px solid silver;
  }

  h1
  {
      font-size: 50px;
      color: gold;
      text-shadow: 2px 2px black;
  }

  #family_member_name
  {
      font-size: 25px;
      color: green;
  }

 button
 {
     background-color: blue;
     color: white;
     width: 120px;
     font-size: 20px;
     font-weight: bold;
 }